<!DOCTYPE html>
<html>
<head>
    <title> مراكز التوحد </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="HOME icon.png" alt="image/x-icon">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
<style>
    body, h1, h2, h3, h4, h5, h6, p, span, button, input {
      font-family: 'Cairo', sans-serif;
    }
  </style>
    

</head>
<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white">
      <a href="/" class="w3-hover-Lights w3-bar-item">
       <img src="/static/HOME icon.png"  alt="Logo" style="height: 40px;"> <!-- Adjust the height as needed -->
     </a>
      <!-- Right-sided navbar links -->
      <div class="w3-serif w3-right w3-hide-small">
        <a href="/community" class=" w3-hover-pale-blue w3-bar-item w3-button" id="community">المجتمع</a>
        <a href="/MindBot" class="w3-hover-pale-blue w3-bar-item w3-button"id="MindBot"> MindBot</a>
        <a href="/specialist" class="w3-hover-pale-blue w3-tex w3-bar-item w3-button"id="specialist">عناية المختصين </a>

    </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->
            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <div class="w3-main">
        <div class="w3-panel">
            <div class="image-container">
                <img src="{{ url_for('static', filename='Specialist image.jpg') }}" style="width: 1500px; height: 350px;" alt="Google Regional Map">
            </div>
            <div class="locations-container">
                <div class="w3-card">
                    <p><b>مركز والدة الأمير فيصل بن فهد للتوحد</b></p>
                    <a href="https://maps.app.goo.gl/sQ9nc358yKjv1TTa6" class="fa fa-map-marker w3-button w3-light-grey w3-block w3-hover-shadow"> الرياض </a>
                </div>
                <div class="w3-card">
                    <p><b>مركز الأمير ناصر بن عبدالعزيز للتوحد</b></p>
                    <a href="https://maps.app.goo.gl/r9nAyF9sXmQMgBkA9" class="fa fa-map-marker w3-button w3-light-grey w3-block w3-hover-shadow">الرياض </a>
                <div class="w3-card">
                    <p><b>مركز التميز للتوحد</b></p>
                    <a href="https://maps.app.goo.gl/HgBk4x88cCmfQZ3J7" class="fa fa-map-marker w3-button w3-light-grey w3-block w3-hover-shadow "> الرياض </a>
                </div>
                <div class="w3-card">
                    <p><b>مركز الأمل المنشود للرعاية النهارية</b></p>
                    <a href="https://maps.app.goo.gl/at37Fkmu1CakJczv5" class="fa fa-map-marker w3-button w3-light-grey w3-block w3-hover-shadow"> مكة المكرمة </a>
                </div>
                <div class="w3-card">
                    <p><b>مركز فكر وأبدع لذوي الاحتياجات الخاصة </b></p>
                    <a href="https://maps.app.goo.gl/wWxufe3KQvsxGyrk9" class="fa fa-map-marker w3-button w3-light-grey w3-block w3-hover-shadow"> خميس مشيط </a>
                </div>
                <div class="w3-card">
                    <p><b> رجال المع</b></p>
                    <a href="https://maps.app.goo.gl/xixo9Ef1KVRtjdDu6" class="fa fa-map-marker w3-button w3-light-grey w3-block w3-hover-shadow">الجرف </a>
                </div>
                <div class="w3-card">
    <p><b>جمعية أسر التوحد</b></p>
    <form id="locationForm">
        <div class="label-container">
            <label for="locations">:اختر العنوان</label>
        </div>
        <select id="locations" name="locations">
            <option value="https://maps.app.goo.gl/XENP3Lim66g3KMDcA"> الرياض</option>
            <option value="https://maps.app.goo.gl/Zq1e5sfqgdghiyrz9"> الدمام</option>
            <option value="https://maps.app.goo.gl/Rud4ddmaPCV6ox989"> الدوادمي</option>
            <option value="https://maps.app.goo.gl/YxnQCCR6Uphsoip89"> الخرج</option>
            <option value="https://maps.app.goo.gl/DRccPbeZNYyv3maj9"> خميس مشيط</option>
            <option value="https://maps.app.goo.gl/FLCHHDciR4DesFmX7"> أبها</option>
        </select>
        <!-- Submit button to open the selected location on the same page -->
        <button class="button" style="vertical-align:middle"><span>انتقل الى الموقع </span></button>
    </form>
    <script>
        document.getElementById("locationForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent form submission
            var selectedLocation = document.getElementById("locations").value;
            window.location.href = selectedLocation; // Redirect to selected location on the same page
        });
    </script>
</div>

            </div>
        </div>
    </div>
    <footer>
        <p>&copy;2024 الرعاية المتخصصة- مراكز التوحد </p>
    </footer>
</body>
</html>